
<%- include('../partials/header') %>
<h1>Task Description</h1>
<% tasks.forEach(task => { %>
  <h4><%= task.description%></h4>
 <%=task.taskDate.toDateString()%> 

<%}) %>
  
<%- include('../partials/footer') %>