<%- include('../partials/header') %>
<form action="/tasks" method="POST">
    <Label>Description</Label>
    <textarea name="description"></textarea>
    <input type="Submit" value="Add Task">
    <input type="date" name="taskDate">

</form>

<%- include('../partials/footer') %>