<%- include('../partials/header') %>
<form action="/tasks" method="POST">
    <Label>Task Description</Label>
    <textarea name="description"></textarea>
    <input type="date" name="taskDate">
    <input type="Submit" value="Add Task">


</form>

<%- include('../partials/footer') %>